<app-navbar></app-navbar>
<main class="d-flex flex-column min-vh-100">
  <div class="container">
    <div class="row mt-3 mb-3">
      <div *ngFor="let alumno of alumnos" class="mb-3 ml-3" style="width: 18rem;">
        <section class="card text-dark bg-light">
          <img [src]="alumno.picture?.large" class="card-img-top" alt="Foto de la persona">
          <div class="card-body">
            <h5 class="card-title"><i *ngIf="alumno.gender === 'male' || alumno.gender === 'female'" class="bi bi-person-fill" [ngClass]="(alumno.gender === 'male') ? 'sexo-masculino' : ((alumno.gender === 'female') ? 'sexo-femenino' : '')"></i>{{ alumno.name?.last | uppercase }} {{ alumno.name?.first }}</h5>
            <p class="card-text">Dirección: {{ alumno.location?.street?.name }} {{ alumno.location?.street?.number }}</p>
            <p class="card-text">Email: {{ alumno.email }}</p>
            <p class="card-text">Teléfono celular: {{ alumno.cell }}</p>
            <p class="card-text">Edad: {{ alumno.dob?.age }}</p>
            <p class="card-text negrita" [ngClass]="alumno.score >= 4 ? 'nota-aprobada' : 'nota-desaprobada'" >Nota: {{ alumno.score }}</p>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
